@use "colors";
@use "containers";
@use "fonts";
@use "header";
@use "lists";
@use "preview";

html {
height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: fonts.$body;
    font-weight: 500;
    @include containers.containers;
    @include header.header;
    @include lists.lists;
    @include preview.preview;

    .hidden {
        display: none;
    }

    .inline {
        display: inline;
    }

    .alert, .notice {
        font-weight: 600;
    }

    .spacer {
        height: 60px;
    }

    .little-button {
        display: inline;
        padding: 0;
        font-size: medium;
        border: none;
        background: none;
    }

    a {
        text-decoration: none;
    }
}

@each $scheme, $map in colors.$schemes {
    body.#{$scheme} {
        background-color: colors.get(#{$scheme}, "blanket");
        color: colors.get(#{$scheme}, "content");
        
        @include containers.c-containers($scheme);
        @include header.c-header($scheme);
        @include lists.c-lists($scheme);
        @include preview.c-preview($scheme);

        .alert {
            color: colors.get(#{$scheme}, "alert");
        }

        .notice {
            color: colors.get(#{$scheme}, "primary");
        }

        a {
            color: colors.get(#{$scheme}, "link");
        }
    }
}
