<div class="header">
    <div>
        &emsp;|&emsp;<%= link_to "Home", root_path %>
        &emsp;|&emsp;<%= link_to "Tracks", tracks_path %>
        &emsp;|&emsp;<%= link_to "PoK orphans", orphans_pok_items_path %>
        &emsp;|&emsp;<%= link_to "PoK chapters", chapters_pok_items_path %>
        &emsp;|&emsp;
    </div>
</div>
